
*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  background: #d22222;;
}

div.widget
{
  position: relative;
  width: 355px;
  height: 125px;
  margin: 150px auto;
  background-color: white;
  border-radius: 9px;
  padding: 25px;
  padding-right: 50px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.input
{
  position: relative;
  width: 355px;
  height: 25px;
  margin: 150px auto;
  background-color: white;
  border-radius: 9px;
  padding: 25px;
  padding-right: 50px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.search {
  font-family: 'Quicksand', sans-serif;

  position: fixed;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  color: black;
  text-align: center;
}
div.left-panel
{

}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 75px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;

}

div.panel
{
  display: inline-block;
}

div.right-panel{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 20%;
    float: right;
    padding: 3px 0;
    border-radius: 5px;
    border: none;
    background: #1c87c9;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
button:hover {
    background: #26a9e0;
}