<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'the_weather/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">

</head>


<body>

    <!-- search place form-->
    <form action="{% url 'the_weather:home' %}" method="post">
        {% csrf_token %}

        <div class="input">
            <div class="search">
                <input type="text" name="name" id="name" placeholder="City name" required/>
                {{ form.name }}
            </div>

            <div class="btn-block">
                <button type="submit" name="action">Add</button>
            </div>
        </div>
    </form>
    <!--weather widget-->
    {% for city in weather_list %}
        <div class="widget">

            <div class="left-panel panel">
                <div class="city">
                    {{ city.city }}
                </div>
                <div class="temp">
                   <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" alt="" width="60">
                   {{ city.temperature }}&deg;
                </div>
            </div>
            <div class="right-panel panel">
                <div class="description">
                    {{ city.description }}
                </div>

            </div>

        </div>
    {% endfor %}

    <div>
        {% for message in messages %}
            <h4> {{ message }} </h4>
        {% endfor %}
    </div>
</body>
</html>